*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
html{
  background-color: var(--secondry-color) ;
}
.container{
  width: 100%;
  margin: auto;
  padding: 0 15px;
  position: relative;
 
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row>*{
  width: 100%;
  padding: 0 15px;
}
:root{
  --primary-color:#3578E5;
  --secondry-color:#F2F3F5;
  --font-color:#65676B;
  --hover-color:rgba(0, 0, 0, 0.04)
}


